.top-container {
    background-image: linear-gradient(to right, #f8c291, #f891eb47);
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}
img {
    overflow-clip-margin: content-box;
    
    overflow: clip;
}
.rounded-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.parent {
    display: grid
;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
h2{
    color:#66bfbf;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    font-weight: normal;
    padding-bottom: 10px;
}
.contact-me {
    background-color: #66bfbf1c;
    padding: 20px;
    border-radius: 8px;
}
  .btn {
    background-color: #ff6347; 
    color: rgb(249, 249, 249); 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px;
    display: inline-block; 
    transition: background-color 0.1s ease-in-out; 
  }
  
  .btn:hover {
    background-color: #e53e34; /* Darker shade on hover */
  }
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.bottom-container {
    background-image: linear-gradient(to right, #f8c291, #f891eb47);
    background-color: #66bfbf;
    position: relative;
    padding-top: 100px;
    height: auto;
    margin-bottom: 0;
}
a:hover {
    color: #eaf6f6;
}
a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.copyright, p {
    margin-bottom: 0;
  }
p {
    line-height: 2;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
body {
    color: #40514e;
    margin: 0;
    padding:0;

    text-align: center;
    font-family: "Merriweather", serif;
}
